:root {
    --color1: #FFFFFF;
    --color2: #FFA500;
    --color3: #030337;
}

@font-face {
    font-family: 'Title1';
    src: url('../assets/fonts/Quantico-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Title2';
    src: url('../assets/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
    font-weight: 800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color3);
    font-family: 'Title1';
    min-height: 100vh;
    width: 100%;
}

main {
    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.title {
    text-align: center;
    height: 15vh;
}

.title h2 {
    color: var(--color1);
    font-family: 'Title1';
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
}

.title h1 {
    color: var(--color2);
    font-family: 'Title2';
    font-size: 3.5rem;
    font-weight: 800;
    font-style: oblique;
}

.cards-container {
    display: flex;
    align-items: end;
    flex-wrap: nowrap;
    width: 1820px;
    height: 699px;
    /*background: red;*/
    gap: 2rem;
    padding: 10px 15px;
    overflow-x: auto;
    /* Desplazamiento horizontal */
    overflow-x: auto;
    scroll-behavior: smooth;
    transition: transform 0.3s ease;
    scrollbar-width: none;
    /* Oculta la barra de desplazamiento en Firefox */
    -ms-overflow-style: none;
    /* Oculta la barra de desplazamiento en Internet Explorer */
}

.cards-container::-webkit-scrollbar {
    display: none;
    /* Oculta la barra de desplazamiento en Chrome, Safari y Opera */
}

.card {
    width: 20rem;
    min-width: 270px;
    height: 650px;
    background: #0d0b57;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: margin-bottom 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    @import './base.css';
}

.camper-success-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.title {
    text-align: center;
    height: 15vh;
}

.title h2 {
    color: var(--color1);
    font-family: 'Title1';
    font-size: 2.5rem;
    font-weight: bold;
    font-style: italic;
}

.title h1 {
    color: var(--color2);
    font-family: 'Title2';
    font-size: 3.5rem;
    font-weight: 800;
    font-style: oblique;
}

.card.apply-margin-bottom {
    margin-bottom: 2rem;
    /* Ajusta el margen según lo que necesites */
}



.card-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.card-content {
    padding: 1.5rem;
    position: relative;
    margin-top: -20px;
    z-index: 2;
    background-color: #0D0B57;
    border-radius: 0 0 15px 15px;
}

.card h3 {
    color: var(--color1);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.card h4 {
    color: var(--color2);
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.card p {
    color: var(--color1);
    font-size: 0.9rem;
    line-height: 1.5;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.nav-button {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease;
}

.nav-button:hover {
    background: var(--color2);
}

.card.center-margin {
    margin-top: 3rem;
}


.perfil {
    position: relative;
    display: inline-block;
    /* Para que el ancho se ajuste al contenido */
    width: 100%;
    /* Asegura que el contenedor de la imagen tenga el mismo ancho */
}

/* Estilo base del triángulo */
.perfil::after {
    content: '';
    position: absolute;
    bottom: 18px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #0D0B57;
    clip-path: polygon(0 100%, 100% 100%, 50% 0);
    z-index: 1;
    border-radius: 0 0 10px 10px;
    transition: background-color 0.3s ease; /* Añadir transición */
}

/* Cambiar el color del triángulo cuando se hace hover en la tarjeta */
.card:hover .perfil::after {
    background: var(--color2); /* Color amarillo */
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(16, 14, 73, 0.452), rgba(3, 3, 55, 0.384));
    border-radius: 15px;
    z-index: 5;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card:not(.apply-margin-bottom) .card-overlay {
    opacity: 1;
}


.logo {
    max-width: 100%;
    /* Hace que la imagen sea responsiva */
    height: auto;
    /* Mantiene la proporción de la imagen */
}