
.camper-profile-view {
  margin-top: 20px;
  width: 100%;  
  font-family: 'Courier New', Courier, monospace;
}

.profile-main-content {
  display: flex;
  flex-direction: column;
  width: 100%;  
  padding: 0 15rem 2rem;
  background: linear-gradient(180deg,
  #070727 0%,
  #090955 70%,
  #0C0C74 100%);
}

/* Estilos del encabezado */
.profile-subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #FFFFFF;
  display: inline-flex;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 3rem;
  margin-top: 100px;
}

.video-item blockquote {
  background-color: rgb(255, 255, 255);
  padding: 2px 3px 2px 3px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}


.highlight {
  color: #FACC15;
  font-weight: bold;
}

.about {
  display: flex;
  flex-direction: row;  
  gap: 40px;
  align-items: flex-start;
}

.col-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 40%;
}

.col-info p {
  color: white;
  line-height: 20px;
}

.col-video {
  flex: 1; 
  max-width: 60%;
}

.videos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.btn-patrocinar {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f7b500;
  color: #000000;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-patrocinar:hover {
  background-color: #f0a500;
  cursor: pointer;
}

.btn-patrocinar:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tec-info {
  display: flex;
  flex-direction: column;
}

.projects {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 20px;
  max-width: 75%;
}

.skills {
  display: flex;
  flex-direction: column;
  width: 24%;
  align-items: center;
  padding: 1rem 1rem 3rem 1rem;
  background-color: #050544;
  border: 1px solid #1a3079 ;
  border-radius: 10px;

}

.skills-button{
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-patrocinar-2{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f7b500;
  color: #000000;
  padding: 15px 40px;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-patrocinar-2:hover {
  background-color: #f0a500;
  cursor: pointer;
}

.tec-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skills-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding: 0 10px 0 10px;
}

.skills-title{
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  padding: 1rem 0 2rem 0;
  color: #FFFFFF;
}


.skillCard {
  background-color: #f7b500;
  color: #000000;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  text-align: center;
}

.skillCard span {
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 1px;
  font-weight: 700;
}

.skill-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.education{
  width: 30%;
}

.education-section {
  width: 100%;
  margin-top: 5rem;
  background-color: #050544;
  border: 1px solid #1a3079 ;
  border-radius: 10px;
}

/* Call-to-Action Section */
.sponsor-call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 2rem;
  padding: 2rem;
  text-align: center;
}

.cta-text {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.btn-sponsor {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f7b500;
  color: #000000;
  padding: 15px 40px;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  border-radius: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-sponsor:hover {
  background-color: #cc7a00;
}

