.profile-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121330;
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    width: 100%;
    max-width: 600px;
  }
  
  .profile-card-image img {
    border-radius: 15px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .profile-card-content {
    flex: 1;
  }
  
  .profile-card-content h2 {
    font-size: 24px;
    color: #4ac1ff;
  }
  
  .profile-card-content h4 {
    font-size: 18px;
    color: #ddd;
    margin-bottom: 10px;
  }
  
  .profile-card-content p {
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  .profile-card-signature p {
    font-style: italic;
    font-size: 14px;
    color: #999;
    margin-top: 10px;
  }
  
  .profile-card-button {
    background-color: #4ac1ff;
    border: none;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .profile-card-nav {
    margin-top: 10px;
  }
  
  .profile-card-nav-button {
    background-color: #444;
    border: none;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 3px;
  }
  
  .profile-card-nav-button:hover,
  .profile-card-button:hover {
    background-color: #4ac1ff;
  }
  