:root {
    --color1: #FFFFFF;
    --color2: #FFA500;
    --color3: #030337;
}
@font-face {
    font-family: 'Title1';
    src: url('../assets/fonts/Tomorrow-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Title2';
    src: url('../assets/fonts/Modular.ttf') format('woff2');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color3);
    font-family: Arial, sans-serif;
    min-height: 100vh;
    padding: 2rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.title img {
    width: 30vw;
}

.title {
    text-align: center;
    height: 25vh;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 1rem;
}

.card {
    background: #0D0B57;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border: 2px solid var(--color2);
    padding: 10px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(255, 165, 0, 0.2);
}

.card-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.card-img {
    content: '';
    position: relative;
    bottom: 43px;
    left: 0;
    width: 100%;
    height: 40px;
    background: var(--color3);
    clip-path: polygon(0 100%, 100% 100%, 50% 0);
    z-index: 1;
}

.card-image::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 40px;
    background: var(--color3);
    clip-path: polygon(0 100%, 100% 100%, 50% 0);
    z-index: 1;
}

.card-content {
    padding: 1.5rem;
    position: relative;
    margin-top: -20px;
    z-index: 2;
    background-color: #0D0B57;
    border-radius: 0 0 15px 15px;
}

.card h3 {
    color: var(--color1);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.card h4 {
    color: var(--color2);
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.card p {
    color: var(--color1);
    font-size: 0.9rem;
    line-height: 1.5;
    text-decoration: none;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.nav-button {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease;
}
a {
    text-decoration: none;
}

.nav-button:hover {
    background: var(--color2);
}

@media (max-width: 768px) {
    .title img {
        width: 80vw;
    }
    .cards-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .card-image{
        height: auto;
    }
}