.campersgrid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 2rem 1rem;
  background-image:
      linear-gradient(rgba(1, 1, 48, 0.7), rgba(1, 1, 48, 0.7)), 
      url('src/assets/campuswall.png');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  box-shadow: 0px -10px 200px #17172b;
  overflow-x: hidden;
}

.campersgrid-title {
  margin-top: 2rem;
  width: 70vw;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 3rem 0 1.05rem;
}

.developer-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 500px;
  height: 200px;
  max-width: 600px;
  padding: 14px 24px;
  border-radius: 8px;
  background-color: #2D2B54;
  color: white;
  margin-bottom: 20px;
}

.camper-image {
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
}

.camper-image img {
  width: 200px;
  max-height: 130px;
  border-radius: 50%;
  border: 2px solid #D9D9D9;
  object-fit: cover;
}

.dev-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-left: 24px;
}

.camper-maininfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.camper-name {
  font-family: 'Poppins', sans-serif;
  font-size: clamp(18px, 1.5vw, 20px);
  font-weight: 600;
}

.camper-title {
  font-family: 'Roboto Mono', monospace;
  font-size: clamp(12px, 1.5vw, 15px);
  line-height: 1.2;
  text-align: start;
}

.technologies {
  margin: 8px 0;
  height: fit-content;
}

.tech-label {
  color: #F4B422;
  font-size: clamp(13px, 1.5vw, 15px);
  font-weight: 500;

}

.technologies p {
  color: #e0e0e0;
  font-size: clamp(12px, 1.5vw, 15px);
  line-height: 1.5;
}

.buttons {
  display: flex;
  gap: 16px;
}

.buttons button {
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.info-button, .sponsor-button {
  background-color: #F4B422;
  color: #2D2B54;
}

.info-button:hover, .sponsor-button:hover {
  background-color: #FDC347;
}

/* Media Queries */
@media (max-width: 768px) {
  .developer-card {
      width: 90%;
      height: auto;
      min-height: 159px;
      margin: 0.5rem 0;
  }

  .technologies {
    margin: 0;
    text-align: start;
  }

  .buttons{
    padding: 3px 0 5px 0;
  }

  .campers-pagination {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0 2rem 0 3.3rem;
  }

  .camper-image img {
    width: 100px;
    max-height: 100px;
    border-radius: 50%;
    border: 2px solid #D9D9D9;
    object-fit: cover;
  }

  .dev-card-content {
      padding-left: 0;
      justify-content: center;
  }

  .camper-name {
    font-size: 16px;
  }

  .camper-title,
  .technologies p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {

  .campersgrid {
      padding: 1rem 0.5rem;
  }

  .grid-container {
    width: 85%;
  }

  .dev-card-content {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    padding-left: 0; 
    width: 100%;
    gap: 1rem;
    text-align: center;
  }

  .camper-maininfo {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
  }

  .technologies
  .Tecnologias {
    display: flex;
    border: 1px solid black; /* Para visualizar el div */

    flex-direction: row; /* Asegura que el contenido se apile verticalmente */
    align-items: center; /* Centra el contenido */
    justify-content: center; /* Centra verticalmente */
    text-align: center;
  }


  .camper-image img {
    width: 110px;
    max-height: 110px;
  }

  .camper-image{
    width: auto; /* Ajusta el ancho automáticamente */
    
  }

  .campersgrid-title {
      width: 100%;
  }

  .developer-card {
    flex-direction: column;
    align-items: center; /* Centra todos los elementos dentro de la tarjeta */
    text-align: center; /* Alinea el texto al centro */
    width: 100%;
    height: 90vw;
    padding: 0.5rem;
    border-radius: 7%;
  }

  .buttons button {
    width: 100px;
    height: 45px;
    padding: 15px;
    font-size: 13px;
    border: 1px solid black; /* Para visualizar el div */
    margin: 5px;
  }
}
