/* Importar variables globales */
@import '/src/styles/variables.css';

/* Contenedor de tarjetas */
.cards-container {
    display: flex;
    align-items: end;
    flex-wrap: nowrap;
    width: 1900px;
    height: 530px;
    gap: 2rem;
    padding: 10px 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* Tarjeta individual */
.card {
    width: 18rem;
    min-width: 250px;
    height: 450px;
    background: var(--color3);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 2px solid var(--color2);
    padding: 10px;
}

/* Imagen de la tarjeta */
.card-image {
    width: 100%;
    height: 280px;
    object-fit: cover;
    
}

/* Contenido de la tarjeta */
.card-content {
    padding: 0.5rem;
    position: relative;
    margin-top: -8px;
    z-index: 2;
    background-color: var(--color3);
    border-radius: 0 0 15px 15px;
    transition: background-color 0.3s ease;
}

/* Textos dentro de la tarjeta */
.card-content h3 {
    color: var(--color1);
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    font-family: 'Title1';
}

.card-content h4 {
    color: var(--color2);
    font-size: 0.7rem;
    margin-bottom: 0.8rem;
    font-family: 'Title2';
}

.card-content p {
    color: var(--color1);
    font-size: 0.7rem;
    line-height: 1.1;
    margin: 0;
    padding: 0;
    font-family: 'P--Profile';
}

/* Efectos hover */
.card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.card:hover .card-content {
    background-color: var(--color2);
}

.card:hover .card-content h3,
.card:hover .card-content h4,
.card:hover .card-content p {
    color: var(--color3);
}