.footer {
    text-align: center;
    color: var(--color1);
    font-size: 1rem;
    padding: 5rem 6rem 2rem 6rem;
    width: 100%;
    background: #0C0C74;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-container .line {
    width: 100%;
    height: 2px;
    background-color: white;
    margin-bottom: 6px;
}

.footer-container img {
    width: 15%;
    padding-bottom: .5rem;
}

.footer-container p {
    padding: .5rem 0 0 1rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 16px;
}

.underline-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.social-logos {
    display: flex;
    padding: 0.7rem;
    flex-direction: row;
    font-size: 25px;
    gap: 1.5rem;
}

.social-logos a {
    color: white;
    transition: transform 0.2s ease; /* Transición para un suave cambio */
}

.social-logos a:hover {
    transform: scale(1.3); /* Aumenta el tamaño al 120% */
}
